html {
    color:#707070;
    background:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.txtPc{width:780px;margin:0 auto}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}
/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}
/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
	margin-top:10px;
    zoom:1; /* for IE6 IE7 */
}
/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
    display:none;
}
/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}
/* 字体颜色 */
.fn-red{
	color:red
}
.fn-marLeft{
	margin-left:10px;
}
body,html{
	width: 100%;
}
.wrap{
	width: 100%;
	height: 100%;
	background: #ffffff;
}
.main{
	width: 1466px;
    height: 768px;
	background: url(../img/BrowserPreview_tmp.png) no-repeat center;
    position: relative;
    margin: 50px auto;
}
.loginFormWrap_ul{
	background: url(../img/login_03.png) no-repeat center;
	position: absolute;
	right: 200px;
    top: 146px;
	width:400px;
	height: 458px;
	border-radius: 5px;
}
.login_input{
	width: 352px;
	margin: 56px auto;
}
.login_user{
	color:#ff7800;
	font-size: 18px;
	line-height: 36px;
}
.login_user_icon{
	margin-right: 14px;
    font-weight: 900;
    height: 36px;
    width: 4px;
    background: #ff7800;
    display: block;
    float: left;
}
.userLog{
	width: 352px;
	height: 46px;
	margin-top: 26px;
	border-radius: 5px;
	background: #f5faff url(../img/icon.png) no-repeat left top;
	background-position: 0 -6px;
	border: 1px solid #e9ebef;
	text-align: right;
}
.userLogHover:hover,.login_fields_input:hover{
	border: 1px solid #03a9f4;
}
 input:-webkit-autofill { 
	 box-shadow: 0 0 0px 1000px #f5faff inset !important;
}
.usePassWord{
	background: #f5faff url(../img/icon.png) no-repeat left top;
	background-position: 0 -112px;
}
.inputWidth{
	width: 302px;
	height: 44px;
	border: 0; 
	outline:none;
	background: #f5faff;
	color: #000;
	font-size: 16px;
   
}
.userSmsCode{
	text-align: left;
	background: #fff;
	border: 0;
}
.login_fields_input{
	width: 160px;
	height: 44px;
	background:#f5faff ;
	border: 1px solid #CCC;
	outline:none;
	float: left;
}
.btnSendCode{
	height: 44px;
	margin-left: 12px;
	border: 1px solid #CCC;
	outline:none;
	float: left;
}
.btnSendText{
	font-size: 16px;
	color: #666666;
	margin-left: 14px;
	cursor: pointer;
	line-height: 44px;
}
.userLogBtn{
	background:#ffba00 ;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 44px;
	text-align: center;
	outline:none;
}
.userLogBtn:hover{
	border: 1px solid #FF7800;
}

/* 首页 */
.navbar-color{
	background: #ffad57 ;
	height: 80px;
}
.nav-logo{
	width: 160px;
}
.btn-lightYellow{
	background: #fdd5ab;
    width: 100px;
}
.navbar-right{
	line-height: 80px;
}
.collapse li{
	background: linear-gradient(to right, #ea8a26 10px, #f6d7b8 10px);
	background-image: -webkit-linear-gradient(left, color-stop(#ea8a26 10px), color-stop(#f6d7b8 10px));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea8a26', endColorstr='#f6d7b8', GradientType=1);
	 
}
.panel-default .panel-heading{
	background: #fedab5;
}
.panel-body{
	background: #FFFFFF;
	color: #000;
}
/* 首页 */
.sidebar {
  display: block;
  float: left;
  width: 250px;
  background: #333;
}
.content {
  display: block;
  overflow: hidden;
  width: auto;
}

.sidebar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#ea8a26 10px), color-stop(#fac187 10px));
  background-image: linear-gradient(to right, #ea8a26 10px, #fac187 10px);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea8a26', endColorstr='#fac187', GradientType=1);
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav a,
.sidebar-nav a:hover,
.sidebar-nav a:focus,
.sidebar-nav a:active {
  outline: none;
}
.sidebar-nav ul li,
.sidebar-nav ul .tittle {
  display: block;
}
.sidebar-nav ul .tittle {
  padding: 10px 20px;
  color: #4c4949;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-nav ul .tittle:hover,
.sidebar-nav ul .tittle:focus,
.sidebar-nav ul .tittle:active {
  color: #9b9797;
  text-decoration: none;
}
.sidebar-nav ul ul .tittle {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul .tittle:hover,
.sidebar-nav ul ul .tittle:focus,
.sidebar-nav ul ul .tittle:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}
/* 用户登陆子页面 */
.inputText,.text{
	width: 150px;
}
.mg_M_20{
	margin: 0 20px;
}
.amount-bottom{
	float: right;
}
.fn-pt6{
	line-height: 60px;
}


