/* alice.base 样式模块11111111111 */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color:#707070;
    background:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.txtPc{width:780px;margin:0 auto}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}
/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;
}
input,select,textarea {
    font-size:100%;
}
/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse:collapse;border-spacing:0;
}
/* IE bug fixed: th 不继承 text-align*/
th {
    text-align:inherit;
}
/* 去除默认边框 */
fieldset,img {
    border:0;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:0;font-variant:normal;
}
/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}
address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}
/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}
q:before,q:after {
    content:'';
}
/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* 鼠标悬停 */
a:hover {
    text-decoration: none;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}
/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
	margin-top:10px;
    zoom:1; /* for IE6 IE7 */
}
/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
    display:none;
}
/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}
/* 单行文字溢出时出现省略号，需设定宽度 */ 
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 人民币符号 */
.fn-rmb {
    font-family: arial;
    font-style: normal;
    padding-right: 4px;
}
/* 文字两端对齐 */
.fn-txt-justify{
    text-align:justify;
}
.fn-txt-center{
    text-align: center;
}
.fn-txt-right{
    text-align: right;
}
/* 重要文字 */
.fn-text-imp{
    color: #0085CC;
}
/*字体颜色*/
.fn-red{color:red}
.fn-orange{color:#f37800}
.fn-white{color:white}
.fn-gray{color:##9a9a9a}
.fn-green{color:#53a000}
.fn-bold{font-weight:700;}
.ui-loading{
    margin: 100px auto;
    font-size: 16px;
}
.ui-loading h1{
    text-align: center;
    font-size:12px
}
.ui-loading img{
    margin-right: 10px;
}



/* pagination  start  author:fany */
.pagination {
    font-size:12px;
}
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}
.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 2px 8px;
    margin-right: 5px;
	margin-bottom: 5px;
}
.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}
.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
/* pagination  end  author:fany */


/*divideTaskDept.html   fany   start*/
.ui-count-ipt{
    width: 30px;
    text-align: center;
}
#J_fileName{
    height: 32px;
    line-height: 32px;
    float: left;
    margin-left: 15px;
}
/*divideTaskDept.html   fany   end*/



/*homePage.html   fany   start*/
a.ui-hp-more{
    font-size: 12px;
    color: #4A81C4;
    float: right;
    margin-right: 20px;
}
.ui-today-chart{
    position: relative;
    padding: 20px 10px 20px 20px;
}
.ui-today-chart .orderBar{
    width:200px;
    margin-top: 5px;
}
.ui-today-chart h3{
    margin-right: 45px;
    font-size: 14px;
    font-weight: 700;
}
.ui-today-chart .rateBar .rateBg,.ui-today-chart .rateBar .rateProcess{
    height: 8px;
    position: relative;
}
.ui-tdy-circle{
    position: absolute;
    top: -10px;
    left: -14px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: url(images/circle_orag.png) no-repeat 0 0;
    color: #333;
    font-size: 14px;
    text-align: center;
}
.ui-task-zero,.ui-task-today{
    position: absolute;
    top: 46px;
    font-size: 14px;
}
.ui-task-zero{
    left: 173px;
}
.ui-task-today{
    left: 345px;
}
.ui-hp-login{
    margin: 50px 20px 0 0;
    text-align: right;
}
/*homePage.html   fany   start*/

.search_table input[type='text'].ui-state-highlight{
    border: 1px solid red;
}
#J_img_wrap{
    position: absolute;
    top: 0;
    left: 0;
}

/*表单验证错误信息*/
.error{
    padding-left: 10px;
    color: red;
}

.right-img{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    vertical-align: top;
}

.ui-record-table {}
.ui-record-table thead td, .ui-record-table thead th { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-record-table tbody td { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-record-tableNormal tbody td{
	 white-space:normal;
}
/* 广告需求管理 */
.upMaterialPic{width:254px;height:284px;background:#f1eeee;position:relative;float:left;}
.upMaterialPicBtn{width:100px;height:100px;margin:0 auto;}
.fileMaterial{position:absolute;top:100px;left:80px;width:80px;font-size:140px;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);cursor:pointer;opacity:0;} 
.upMaterialPicBtnStyle img{width:50px;height:50px;position:absolute;top:90px;left:100px;cursor:pointer;}
.upMaterialPicBtnText{position:absolute;top:150px;}
.upMaterialPicBtnText p{margin-left:-30px}
.picExhibition,.picExhibition1{width:250px;height:294px;border:1px solid lightgray;float:left;position:relative;} 
.upMaterialPicTop{width:220px;height:120px;margin:5px auto;}
.upMaterialPicBottom{width:240px;height:120px;margin:10px auto;}
.upMaterialPicBottom .w160{width:160px}
.picExhibitionBtn{width:25px;height:25px;background:lightgray;position:absolute;right:0;top:0;font-size:18px;color:#fff;text-align:center;}
.picExhibitionBtn:hover,.picExhibitionBtnNew:hover,.picExhibitionBtnNew2:hover{color:red;cursor:pointer;}
.statusAccounting{width:80px;height:32px;color:#339dd9;line-height:32px;cursor:pointer;background:none;}
.beenRejected{position:absolute;right:80px;}
.beenAudited{position:absolute;text-align:center}
.statueWrap{position:relative;height:30px;left:115px}
.picExhibitionBtnNew{width:32px;height:32px;background:#339dd9;position:absolute;right:48px;line-height:32px;font-size:14px;color:#fff;text-align:center;display:none;border-radius:0 5px 5px 0}
.picExhibitionBtnNew2{width:32px;height:32px;background:#339dd9;position:absolute;right:38px;line-height:32px;;font-size:14px;color:#fff;text-align:center;display:none;border-radius:0 5px 5px 0}
#InputWEB_TZ:hover{cursor:pointer;}
.imgBox .imgBoxSrc{margin:2% 20% 3%;width:60%;}
.cd-popup-show_UpManter .showUpManterCon{margin:10% auto;}
.upMaterialPicTop .IsImnges:hover{cursor:pointer;}
/* 监控管理 */
/* .cmxformTitleTab{width:205px;height:40px;background:#f2f4f6;line-height:40px}
.cmxformTitleTab .dppl{width:100px;text-align:center;display:block;float:left;cursor:pointer;font-size:14px;font-weight:bold;border-right:1px solid #CCC}
.dpplStyle{background:#c5d7e8}
.cmxformTitleTab .dpplNoBorder{border-right:0;} */
.deriveOne{
    width: 75px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
    font-weight:bold;
    float: right;
    margin:10px 15px;
    text-align:center;
    background: #4A81C4;
    cursor:pointer;}
.sendYourEmail{padding-left:20px;font-weight:bold;font-size:12px;cursor:pointer;float:right;margin-right:40px;}   
.trans{width:80px;height:33px;line-height:33px;border-radius:5px;margin-top:10px;background:#3A8BE0;cursor:pointer;color:#fff;}
.redIdentify{color:red;}
.normalTable-layout{table-layout: fixed;word-wrap: break-word;white-space: normal;}
.partInputWidth{width:650px;margin-left:10px;}



